.add-button {
    width: 60px;
    background-color: #4CAF50;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 60px;
    transition: background-color 0.3s, transform 0.3s;
    margin: auto;
}

.add-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.add-button:active {
    background-color: #3e8e41;
    transform: scale(1);
}

section{
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;

}
.formulario {
    display: flex;
    margin-bottom: 20px;
}

#glosario {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.tabela {
    max-width: 600px;
    margin: 0 auto;
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Estilos para a lista de produtos */
.lista-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    color: #f8d7da;
}

.itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.titulo {
    font-weight: bold;
}

.btn-conteiner {
    display: flex;
    align-items: center;
}

.editar-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.editar-btn i {
    margin-right: 5px;
}

.remover-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.alerta-erro {
    color : #721c24;
    background: #f8d7da;

}
.alerta-sucesso {
    color: #ffffff;
    background: #568b62;
}
